<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>801630748145-h66mhn882rbctcghl9qa4f9pu8r6aedb.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.801630748145-h66mhn882rbctcghl9qa4f9pu8r6aedb</string>
	<key>API_KEY</key>
	<string>AIzaSyChi1NrmeqCJU-KpCngcw3di1YINr1ZsA8</string>
	<key>GCM_SENDER_ID</key>
	<string>801630748145</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>dev.jarjut.ditonton</string>
	<key>PROJECT_ID</key>
	<string>ditonton-78dca</string>
	<key>STORAGE_BUCKET</key>
	<string>ditonton-78dca.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:801630748145:ios:4c3b1c8269ece1b1a2d850</string>
</dict>
</plist>